<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/sign-up">ICS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars" style="color: white;"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/sign-up">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-appointments">My Appointments</a>
      </li>
      <li class="nav-item" *ngIf="userIsProgramOwner || userIsAdmin">
        <a class="nav-link" routerLink="/program-owner">Program Owner</a>
      </li>
      <li class="nav-item" *ngIf="userIsAdmin">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>
      <li class="ml-auto"></li> <!-- Spacer to separate module links from user links -->
      <li class="navbar-text" *ngIf="!!userName">
        <span tooltip="{{userName}}" placement="bottom" container="body">{{firstName}} {{lastName}}</span>
      </li>
      <li class="nav-item" *ngIf="!!userName">
        <a class="nav-link" href="{{logoutUrl}}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
