.headerlabel {
    color: rgb(255, 255, 255);
    font: 20px arial;
    list-style: height 20px;
    text-align: left;
    line-height: 40px;
    font-size: 25px;
}

input {
    text-align: center;
    font-size: 16px;
    color: black;
    border-radius: 5px;
}

#button {
    margin: 10px;
}