<div [ngBusy]="busySave"></div>
<div mat-dialog-title>
  <div class="d-flex justify-content-between">
    <div class="p-2">Change Max Appointments</div>
    <i class="fa fa-close p-2" (click)="this.dialogRef.close()"></i>
  </div>
</div>
<div class="row">
  <div class="col">
    <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type">
      {{ alert?.msg }}
    </alert>
  </div>
</div>
<form novalidate #maxAppointmentForm="ngForm" (ngSubmit)="changeMaxAppointments(maxAppointmentForm)">
  <mat-dialog-content>
    <div class="d-flex flex-column flex-md-row">
      <div class="p-2">
        <div class="ui-g-12">
          <p-radioButton name="group1" value="increase" label="Increase" [(ngModel)]="increaseDecreaseInd"
                         inputId="opt1"></p-radioButton>
        </div>
        <div class="ui-g-12">
          <p-radioButton name="group1" value="decrease" label="Decrease" [(ngModel)]="increaseDecreaseInd"
                         inputId="opt2"></p-radioButton>
        </div>
      </div>
      <div class="p-2">
        <label class="col-form-label">Number of Appointments</label>
        <input class="form-control" type="number" id="maxAppointmentsChange" name="maxAppointmentsChange"
               [(ngModel)]="maxAppointmentsChange" #maxAppointmentsChangeCtrl="ngModel" [min]="0" required>
        <alert type='danger' *ngIf="maxAppointmentsChangeCtrl.errors?.required && submitted"
               id="maxAppointmentsChangeCtrlRequiredError">
          Number of appointments is required
        </alert>
        <alert type='danger'
               *ngIf="(maxAppointmentsChange > existingMaxAppointments) && (increaseDecreaseInd === 'decrease') && submitted"
               id="maxAppointmentsChangeCtrlMinimumError">
          You can not remove more than {{existingMaxAppointments}} appointments
        </alert>
        <alert type='warning'
               *ngIf="(maxAppointmentsChange > (pendingAppointments + availableAppointments)) && (increaseDecreaseInd === 'decrease') && warningIndicator"
               id="maxAppChangeCtrlMinError">
          Number of booked appointments = {{currentAppointments}}
        </alert>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" type="submit" [disabled]="maxAppointmentForm.invalid">Change max appointments</button>
      </div>
    </div>
  </mat-dialog-actions>
</form>
