<div [ngBusy]="busyLoading"></div>
<div [ngBusy]="busySave"></div>
<div mat-dialog-title>
  <div class="d-flex justify-content-between">
    <div class="p-2">Cancel Appointment</div>
    <i class="fa fa-close p-2" (click)="this.dialogRef.close()"></i>
  </div>
</div>
<mat-dialog-content>
  <div class="row">
    <div class="col">
      <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type">
        {{ alert?.msg }}
      </alert>
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row">
    <div class="p-2">
      <label class="col-form-label">Confirm cancellation of the following appointment: </label> <br/>
      {{firstName}} {{lastName}} for {{programName}} on {{programDate | date:'fullDate'}} at {{startTime}} -
      {{endTime}}.<br/><br/>
      <input type="checkbox" class="example-margin" id="confirm" name="confirm" [(ngModel)]="confirm">Yes, cancel this
      appointment.
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="d-flex flex-row">
    <div class="p-2">
      <button class="btn btn-primary" type="submit" [disabled]="!confirm" (click)="submit()" id="cancel-appointment">Cancel</button>
      <button class="btn btn-secondary" type="button" (click)="close()">Do Not Cancel</button>
    </div>
  </div>
</mat-dialog-actions>
