<div [ngBusy]="busyLoading"></div>

<div class="d-flex flex-row" *ngIf="appointments?.length > 0">
  <h4><a routerLink="..">{{appointments[0]?.programName}}</a> / Appointments</h4>
  <div class="dropdown d-flex ml-auto">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-cogs fa-fw"></i>
      Actions
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <button class="dropdown-item" (click)="exportExcel()">
        <i class="fa fa-file-excel-o fa-fw"></i>
        Export to Excel
      </button>
      <div class="dropdown-divider"></div>
      <button class="dropdown-item" type="button" routerLink="..">
        <i class="fa fa-arrow-circle-left fa-fw"></i>
        Back
      </button>
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="col">
    <div *ngIf="appointments?.length > 0">
      <div class="row table-header">
        <div class="input-group input-group-sm col">
          <div class="input-group-prepend">
            <i class="input-group-text fa fa-filter"></i>
          </div>
          <input (input)="dt.filterGlobal($event.target.value, 'contains')" class="form-control form-control-sm d-flex"
                 id="appointmentFilterString" placeholder="Filter" aria-label="Filter appointments">
        </div>
      </div>

      <br/>

      <p-table #dt
               [value]="appointments"
               id="data-table"
               [columns]="cols"
               [globalFilterFields]="['startTimeDisplay', 'endTimeDisplay', 'firstName', 'lastName', 'pin']"
               [responsive]="true"
               [autoLayout]="true"
               exportFilename="{{appointments[0]?.programName}}"
               styleClass="MMM-prime-table">

        <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'programDate'">Appointment Date
              <p-sortIcon [field]="'programDate'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'startTime'">Start Time
              <p-sortIcon [field]="'startTime'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'endTime'">End Time
              <p-sortIcon [field]="'endTime'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'firstName'">Full Name
              <p-sortIcon [field]="'firstName'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'pin'">User Pin
              <p-sortIcon [field]="'pin'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'emailAddress'">Email
              <p-sortIcon [field]="'emailAddress'"></p-sortIcon>
            </th>
            <th>
              Action
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-appointment let-i="rowIndex">
          <tr>
            <td [id]="'appointment-' + i + '-date'">{{appointment.programDate.substring(0, 10) | date: 'EEEE, MMMM d, y'}}</td>
            <td [id]="'appointment-' + i + '-start-time'">{{appointment.startTimeDisplay}}</td>
            <td [id]="'appointment-' + i + '-end-time'">{{appointment.endTimeDisplay}}</td>
            <td [id]="'appointment-' + i + '-name'">{{appointment.firstName}} {{appointment.lastName}}</td>
            <td [id]="'appointment-' + i + '-pin'">{{appointment.pin}}</td>
            <td [id]="'appointment-' + i + '-email'">{{appointment.emailAddress}}
            <td align="center">
              <button class="btn btn-sm btn-danger" type="button"
                      (click)="cancelAppointment(appointment.appointmentId,i)">
                <i class="fa fa-fw fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <alert type="primary" *ngIf="appointments?.length < 1" id="noAppointmentsAlert">
      This program does not have any scheduled appointments. <a routerLink="..">Back to Program Details.</a>
    </alert>
  </div>
</div>
