<div class="pt-5">
    <div class="jumbotron">
        <h1 class="display-3">Maintenance</h1>
        <p class="lead">
            <i class="fa fa-cogs fa-2x" aria-hidden="true"></i> &nbsp;
            <i class="fa fa-laptop fa-2x" aria-hidden="true"></i> &nbsp;
            <i class="fa fa-wrench fa-2x" aria-hidden="true"></i> &nbsp;
        </p>
        <hr class="my-4">
        <p>eRFE is temporarily down for maintenance. Please wait a few minutes and try your action again.</p>
        <p>If this problem persists, please contact IT support team or xyz (change).</p>
        <p class="lead">
            <a class="btn btn-primary" [routerLink]="['/dashboard']" role="button">Dashboard</a>
        </p>
    </div>
</div>

<!-- Footer -->
<nav class="navbar fixed-bottom navbar-light" style="background-color: #e3f2fd;">
    ERFE © 3M {{currentYear}}. All Rights Reserved.
</nav>