<div mat-dialog-title>
  <div class="d-flex justify-content-between">
    <div class="p-2">User Search</div>
    <i class="fa fa-close p-2" (click)="this.dialogRef.close()"></i>
  </div>
</div>
<form #userSearchForm="ngForm" (ngSubmit)="search()">
  <mat-dialog-content>
    <div [ngBusy]="busyLoading"></div>
    <div class="d-flex flex-column flex-md-row">
      <div class="p-2">
        <div class="form-group">
          <label class="col-form-label">Last Name</label>
          <input class="form-control" type="text" id="lastName" name="lastName" [(ngModel)]="lastName"
                 #searchlastName="ngModel">
        </div>
      </div>
      <div class="p-2">
        <div class="form-group">
          <label class="col-form-label">First Name</label>
          <input class="form-control" type="text" id="firstName" name="firstName" [(ngModel)]="firstName"
                 #searchfirstName="ngModel">
        </div>
      </div>
      <div class="p-2">
        <div class="form-group">
          <label class="col-form-label">User Pin</label>
          <input class="form-control" type="text" id="userPin" name="userPin" [(ngModel)]="userPin"
                 #searchuserPin="ngModel">
          <sub>(e.g.: A###### or US######)</sub>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row">
      <div class="ml-auto"></div>
      <div class="p-2">
        <button type="submit" class="btn btn-primary form-control" id="userSearchButton">Search</button>
      </div>
      <div class="p-2">
        <button type="reset" class="btn btn-outline-secondary form-control" id="clearSearchButton"
                (click)="clearSearch()">Clear
        </button>
      </div>
    </div>
    <hr *ngIf="userList?.length > 0">
    <p-table #dt
             [value]="userList"
             [globalFilterFields]="['userPin', 'firstName', 'lastName']"
             [paginator]="userList?.length > rowsPerPage"
             [rows]="rowsPerPage"
             [rowsPerPageOptions]="rowsPerPageOptions"
             [autoLayout]="true"
             styleClass="MMM-prime-table"
             *ngIf="userList?.length > 0">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'lastName'">Last Name
            <p-sortIcon [field]="'lastName'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'firstName'">First Name
            <p-sortIcon [field]="'firstName'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'userPin'">User Pin
            <p-sortIcon [field]="'userPin'"></p-sortIcon>
          </th>
          <th>Select</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{user.lastName}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.userPin}}</td>
          <td>
            <div class="text-center">
              <button class="btn btn-primary" (click)="selectUser(user)">Select</button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </mat-dialog-content>
</form>
