<header role="banner" class="hidden-print">
    <mat-toolbar class="toolbar">
        <!-- <span class="d-flex">
      <button type="button" mat-icon-button (click)="sidenav.open()" (mouseover)="sidenav.open()" class="mr-1">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </button>
    </span> -->
        <a [href]="Home3MUrl" target="_blank" class="logo-spacing">
            <img [src]="headerLogoFilename" height="25" />
        </a>
        <span class="p-0">
      <a class="nav-link menu-item" [routerLink]="['/dashboard']" >ERFE</a>
    </span>
        <span class="menu-item">|</span>

        <span>
      <a class="btn btn-sm btn-primary url-link" [routerLink]="['/dashboard']">
        <i class="fa fa-dashboard"></i> Dashboard
      </a>
      <a class="btn btn-sm btn-primary url-link ml-1" [routerLink]="['/home']">
        <i class="fa fa-home"></i> Home
      </a>
      <a class="btn btn-sm btn-primary url-link ml-1" [routerLink]="['/new-rfe-document']" (click)="newrfeClicked()">
        <i class="fa fa-pencil"></i> New RFE Document
      </a>
      <a class="btn btn-sm btn-primary url-link ml-1" [routerLink]="['/search']">
        <i class="fa fa-search"></i> Search
      </a>      
      <div ngbDropdown class="d-inline-block" [open]="openAdminPanel" (mouseover)="openAdministration()"
        (mouseout)="closeAdministration()" *ngIf ="isAdmin" >
        <button class="btn btn-sm  btn-primary" id="dropdownBasic1" ngbDropdownToggle><i
            class="fa fa-unlock-alt item-icon"></i>&#160;&#160;Administration</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

          <a class="btn" ngbDropdownItem [routerLink]="['/alldoc']">
            <i class="fa fa-bars item-icon"></i>&#160;&#160;All RFE Documents by Status
          </a>
          <a class="btn" ngbDropdownItem [routerLink]="['/job-trigger']">
            <i class="fa fa-clock-o item-icon"></i> Job Trigger
          </a>
          <a class="btn" ngbDropdownItem [routerLink]="['/renewal']">
            <i class="fa fa-bars item-icon"></i>&#160;&#160;Renewals
          </a>
        </div>
      </div>
    
      <!-- <div class="btn-group ml-1" dropdown triggers="mouseover" [insideClick]="true" placement="top right" >
          <button id="button-animated" dropdownToggle type="button" class="btn btn-sm btn-primary dropdown-toggle"
                  aria-controls="dropdown-animated">
                  Administration <span class="caret"></span>
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/alldoc']">All RFE Documents by Status</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/renewal']">Renewals </a>
            </li>

        </ul>
        </div> -->
        <a class="btn btn-sm btn-primary url-link ml-1" [routerLink]="['/help']">
            <i class="fa fa-info-circle"></i> Help
        </a>

        </span>

        <!-- <span>
        <a class="btn btn-sm btn-primary url-link" [routerLink]="['/dashboard']" >
          <i class="fa fa-dashboard"></i> Dashboard
        </a>
         <a class="btn btn-sm btn-primary url-link ml-1" [routerLink]="['/search']">
        <i class="fa fa-search"></i> Search
      </a>
      <a class="btn btn-sm btn-primary url-link ml-1" [routerLink]="['/help']">
        <i class="fa fa-info-circle"></i> Help
      </a>
      </span> -->
        <ul class="nav navbar-nav ml-auto pr-1">
            <li class="nav-item">
                <a class="nav-link" id="appDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i> Welcome {{prsnName}}
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav pr-1" *ngIf="!hideLogoInd">
            <li class="nav-item">
                <i class="fa fa-lg fa-sign-out nav-link" (click)="logout()" style="cursor: hand;cursor: pointer;"></i>
            </li>
        </ul>

    </mat-toolbar>
</header>