<div [ngBusy]="busyLoading"></div>
<div [ngBusy]="busySave"></div>

<div mat-dialog-title>
  <div class="d-flex justify-content-between">
    <div class="p-2" id="dialogTitle">Manage Pending Appointments</div>
    <i class="fa fa-close p-2" (click)="this.dialogRef.close()" id="closeDialog"></i>
  </div>
</div>

<div class="row">
  <div class="col">
    <alert *ngIf="!!alert?.msg" [type]="alert.type" [id]="alert?.id">
      {{ alert?.msg }}
    </alert>
    <alert type="primary" id="noPendingAppointmentsAlert" *ngIf="pendingAppointmentList?.length < 1">
      There are no pending appointments for this program
    </alert>
  </div>
</div>

<div mat-dialog-content>
  <table class="table table-responsive-sm" *ngIf="pendingAppointmentList?.length > 0">
    <thead>
    <tr>
      <th>Appointment Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Held by</th>
      <th>Held at</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pendingAppointment of pendingAppointmentList; let j = index;">
      <td [id]="'pending-' + j + '-appointment-date'">{{ pendingAppointment?.date.substring(0, 10) | date: 'EEEE, MMMM d, y'}}</td>
      <td [id]="'pending-' + j + '-start-time'">{{ pendingAppointment?.startTimeDisplay }}</td>
      <td [id]="'pending-' + j + '-end-time'">{{ pendingAppointment?.endTimeDisplay }}</td>
      <td [id]="'pending-' + j + '-held-by-name'">{{ pendingAppointment?.firstName }} {{ pendingAppointment?.lastName }}</td>
      <td [id]="'pending-' + j + '-held-at-date'">{{ pendingAppointment?.dateCreated | date: 'EEEE, MMMM d, y, h:mm a'}}</td>
      <td align="right" style="padding-right: 20px;">
        <button [id]="'clear-pending-' + j" class="btn btn-sm btn-danger" type="button" (click)="clearPendingAppointment(pendingAppointment.id, j)"
                tooltip="Clear pending appointment." placement="left" container="body">
          <i class="fa fa-fw fa-trash" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


