#recurcal span.ui-state-default.ui-state-disabled.ng-tns-c8-5.ng-star-inserted{
    color:white;
    background-color: darkgreen;
    border: 1px solid darkgreen;

}
body #recurcal .ui-datepicker table td > a, body #recurcal .ui-datepicker table td > span{
    color:white !important;
    background-color: darkgreen !important;
    
}
.ui-datepicker-calendar td > span{
    color:red;
    background-color: darkseagreen;
}
/* body .ui-datepicker table td > a, body .ui-datepicker table td > span{

} */
/* #recurcal >span.ui-datepicker >table td.ng-tns-c8-5 td.ng-star-inserted > span.ui-state-default .ui-state-disabled .ng-tns-c8-5 .ng-star-inserted, body .ui-widget:disabled{ */
    #recurcal span.ng-tns-c8-6.ui-calendar{  
    color:white;
    background-color: darkgreen;
    border: 1px solid darkgreen;
}
.test{
    background-color: #ffff;
    opacity: 0;
    color:#3333;
}