<div class="row d-flex justify-content-center">
    <div class="col-md-11 pt-5 pb-5">
        <div [ngBusy]="{busy:busyLoading, message:loadingMessage}"></div>

        <!-- Main card -->
        <p-card class="ui-card" [style]="{'border':'2px solid #3366ff'}">
            <p-header>
                <div class="text-center" style="background-color:white;background-image:url(../../../../assets/img/Mesh_Header_Blue-LightBlue.png);background-size:
                            contain; font-weight: bold; line-height: 40px;">
                    <div class="ui-g">
                        <div class="ui-g-10 headerlabel">Corp HW/SW RFE (Request For Expenditure)</div>
                    </div>
                </div>
            </p-header>

            <!-- Main content -->





        </p-card>
    </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    ERFE © 3M {{currentYear}}. All Rights Reserved.
</nav>