<div class="pt-5">
    <div class="jumbotron">
        <h1 class="display-3">Unauthorized!</h1>
        <p class="lead">Your request could not be completed as dialed.</p>
        <hr class="my-4">
        <p>If you are a <strong>new employee</strong>, it may take a few days after onboarding for this application to be available to you.</p>
        <p>If you are an <strong>existing user</strong>, the action that you tried to perform is not allowed.</p>
        <p>Questions? Need support? Please contact IT support team.</p>
        <p class="lead">
            <a class="btn btn-primary" [routerLink]="['/dashboard']" role="button">OK</a>
        </p>
    </div>
</div>

<!-- Footer -->
<nav class="navbar fixed-bottom navbar-light" style="background-color: #e3f2fd;">
    ERFE © 3M {{currentYear}}. All Rights Reserved.
</nav>