<div [ngBusy]="busyLoading"></div>
<div [ngBusy]="busySave"></div>

<div mat-dialog-title>
  <div class="d-flex justify-content-between">
    <div class="p-2" id="dialogTitle">Email Templates - {{locationName}} {{programName}}</div>
    <i class="fa fa-close p-2" (click)="this.dialogRef.close()" id="closeDialog"></i>
  </div>
</div>

<form novalidate #emailTemplateForm="ngForm" (ngSubmit)="saveEmailTemplates(emailTemplateForm)">
  <mat-dialog-content>

    <div class="row">
      <div class="col">
        <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" [id]="alert?.id + '_top'">
          {{ alert?.msg }}
        </alert>
      </div>
    </div>

    <!-- Display Templates -->
    <div *ngFor="let template of displayTemplates; let i = index">

      <div class="row">
        <div class="col">
          <h5>
          <span class="badge" [ngClass]="{'badge-success':template.templateType === templateTypeConfirm,
                                          'badge-danger':template.templateType === templateTypeCancel}">
            {{template.templateLevel}} {{template.templateType}} Subject + Template
          </span>
          </h5>
          <input class="form-control"
                 [id]="template.templateLevel.toLowerCase() + '_' + template.templateType.toLowerCase() + '_subject'"
                 [value]="template.subject"
                 readonly>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col">
          <p-editor [id]="template.templateLevel.toLowerCase() + '_' + template.templateType.toLowerCase() + '_message'"
                    name="message{{i}}"
                    [(ngModel)]="template.message" readonly>
            <!-- Hide Headers -->
            <p-header></p-header>
          </p-editor>
        </div>
      </div>
      <br/>

    </div>

    <hr>

    <!-- Editable templates -->
    <div *ngFor="let template of editableTemplates; let i = index">

      <div class="row">
        <div class="col">
          <h5>
          <span class="badge" [ngClass]="{'badge-success':template.templateType === templateTypeConfirm,
                                          'badge-danger':template.templateType === templateTypeCancel}">
            {{template.templateLevel}} {{template.templateType}} Subject + Template
          </span>
          </h5>

          <input class="form-control"
                 [id]="template.templateLevel.toLowerCase() + '_' + template.templateType.toLowerCase() + '_subject'"
                 name="templateSubject{{i}}"
                 #templateSubject="ngModel"
                 [(ngModel)]="template.subject"
                 [maxlength]="emailTemplateMetadata.subjectMaxLength"
                 [required]="!locationId">

          <!--Text counter for subject field-->
          <div class="pull-right small">
            {{template.subject?.length}}/{{emailTemplateMetadata.subjectMaxLength}}
          </div>

          <alert type='danger' *ngIf="templateSubject.errors?.required && submitted"
                 [id]="template.templateLevel.toLowerCase() + '_' + template.templateType.toLowerCase() + '_subjectRequiredError'">
            Subject is required at the system level
          </alert>
        </div>


        <!--Clear button-->
        <div class="col-md-1" *ngIf="locationId">
          <div class="form-group">
            <label class="col-form-label">Clear</label> <br/>
            <button class="btn btn-danger" type="button" (click)="clearTemplate(i)" [id]="template.templateLevel.toLowerCase() + '_' + template.templateType.toLowerCase() + '_clear'">
              <i class="fa fa-eraser" aria-hidden="true"></i>
            </button>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <!--email body field-->
          <p-editor [id]="template.templateLevel.toLowerCase() + '_' + template.templateType.toLowerCase() + '_message'"
                    name="templateMessage{{i}}"
                    [(ngModel)]="template.message"
                    #templateMessage="ngModel"
                    [style]="{'height':'100px'}"
                    [maxlength]="emailTemplateMetadata.messageMaxLength"
                    [required]="!locationId">
          </p-editor>

          <!--Email message length indicator bar-->
          <div class="progress">
            <div class="progress-bar" role="progressbar"
                 [class.bg-danger]="template.message?.length > emailTemplateMetadata.messageMaxLength"
                 [style.width]="(template.message?.length/emailTemplateMetadata.messageMaxLength)*100 + '%'">
                <span *ngIf="template.message?.length > emailTemplateMetadata.messageMaxLength">
                  Email message is too long!
                </span>
            </div>
          </div>

          <!--Email message length count-->
          <div class="pull-right small">
            {{template.message?.length}} / {{emailTemplateMetadata.messageMaxLength}}
          </div>
          <alert type='danger' *ngIf="templateMessage.errors?.maxlength"
                 [id]="template.templateLevel.toLowerCase() + '_' + template.templateType.toLowerCase() + '_messageLengthError'">
            Message cannot be longer than {{emailTemplateMetadata.messageMaxLength}} characters
          </alert>
          <alert type='danger' *ngIf="templateMessage.errors?.required && submitted"
                 [id]="template.templateLevel.toLowerCase() + '_' + template.templateType.toLowerCase() + '_messageRequiredError'">
            Message is required at the system level
          </alert>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" [id]="alert?.id + '_bottom'">
          {{ alert?.msg }}
        </alert>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="d-flex flex-row">
      <div class="p-2">
        <button class="btn btn-primary" type="submit" id="saveEmailTemplates">
          <i class="fa fa-save fa-fw"></i>
          Save
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</form>
