<h4>Program Owner / Locations</h4>
<hr/>
<div [ngBusy]="busyLoading"></div>

<div class="row">
  <div class="col">
    <div class="row table-header">
      <div class="input-group input-group-sm col">
        <div class="input-group-prepend">
          <i class="input-group-text fa fa-filter"></i>
        </div>
        <input (input)="dt.filterGlobal($event.target.value, 'contains')" class="form-control form-control-sm d-flex"
               id="locationFilterString" placeholder="Filter">
      </div>
    </div>
    <p-table #dt
             [value]="locationList"
             [globalFilterFields]="['name', 'code', 'timeZone']"
             [paginator]="locationList?.length > rowsPerPage"
             [rows]="rowsPerPage"
             [rowsPerPageOptions]="rowsPerPageOptions"
             styleClass="MMM-prime-table">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'code'">Code
            <p-sortIcon [field]="'code'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'name'">Location
            <p-sortIcon [field]="'name'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'timeZone'">Time Zone
            <p-sortIcon [field]="'timeZone'"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-location>
        <tr>
          <td>
            <a class="tableLink" routerLink="./location/{{location.id}}">{{location.code}}</a>
          </td>
          <td>
            <a class="tableLink" routerLink="./location/{{location.id}}">{{location.name}}</a>
          </td>
          <td>
            {{location.timeZone}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
