<div [ngBusy]="busyLoading"></div>
<div [ngBusy]="busySave"></div>
<div mat-dialog-title>
  <div class="d-flex justify-content-between">
    <div class="p-2" id="dialogTitle">Announcement - {{locationName}}</div>
    <i class="fa fa-close p-2" (click)="this.dialogRef.close()" id="closeAnnouncementDialog"></i>
  </div>
</div>

<form novalidate #announcementForm="ngForm" (ngSubmit)="saveAnnouncement(announcementForm)">
  <mat-dialog-content style="min-width: 60vw">
    <div class="row">
      <div class="col">
        <alert id="alertMessage" *ngFor="let alert of alerts; let i = index" [type]="alert.type">
          {{ alert?.msg }}
        </alert>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <label class="col-form-label">Message</label>
          <textarea class="form-control" id="message" name="message" [(ngModel)]="announcement.message"></textarea>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="active" class="col-form-label">Active</label><br/>
          <label id="activeSwitch" class="switch slider-checkbox">
            <input type="checkbox" id="active" name="active" [(ngModel)]="announcement.active">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" type="submit" id="saveButton" [disabled]="announcementForm.invalid">
          <i class="fa fa-save fa-fw"></i>
          Save
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</form>
