<mat-toolbar color='primary'>
  <i class="fa fa-user p-1"></i>{{personName}}
</mat-toolbar>

<mat-accordion multi="false" [displayMode]="displayMode">
  <mat-expansion-panel  class="no-shadow" [expanded]="true">
    <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
        <!-- <mat-panel-title *ngIf="showCorpPsHeader"></mat-panel-title> -->
      <mat-panel-title>
        <i class="fa fa-hand-o-right item-icon fa-2x"  ></i> <font size="5"> {{corpps}} </font>
      </mat-panel-title>
      <!-- <mat-panel-title  *ngIf="showPsHeader" >
          <i class="fa fa-hand-o-right item-icon fa-2x"></i> <font size="5"> {{ps}} </font>
        </mat-panel-title> -->
    </mat-expansion-panel-header>
    <mat-nav-list *ngIf="showCorpPsHeader" dense>
      <!-- going to dashboard-->
      <a mat-list-item (click)="sidenav.close()" [routerLink]="['/home']"  >
        <i class="fa fa-home item-icon fa-2x"></i>{{home}}
      </a>
    </mat-nav-list>
    <!-- <mat-nav-list *ngIf="showPsHeader" dense> -->
        <!-- going to dashboard-->
        <!-- <a mat-list-item (click)="sidenav.close()" [routerLink]="['/pshome']"  >
          <i class="fa fa-home item-icon fa-2x"></i>{{home}}
        </a>
      </mat-nav-list>  -->
	<mat-nav-list dense >
      <a mat-list-item (click)="sidenav.close();newrfeClicked()" [routerLink]="['/new-rfe-document']" *ngIf="showCorpPsHeader" >
        <i class="fa fa-pencil item-icon fa-2x"></i> {{newrfe}}
      </a>
      <!-- <a mat-list-item  (click)="sidenav.close()" [routerLink]="['/psnew-rfe-document']" *ngIf="showPsHeader" >
          <i class="fa fa-pencil item-icon fa-2x"></i>{{newrfe}}
        </a> -->
    </mat-nav-list>
	<mat-nav-list dense>
      <a mat-list-item (click)="sidenav.close()" *ngIf="showCorpPsHeader"  [routerLink]="['/search']">
        <i class="fa fa-search item-icon fa-2x"></i> {{view}}
      </a>
      <!-- <a mat-list-item (click)="sidenav.close()" *ngIf="showPsHeader" [routerLink]="['/psSearch']">
        <i class="fa fa-search item-icon fa-2x"></i> {{view}}
      </a> -->
    </mat-nav-list>
	
<mat-accordion multi="false" *ngIf="showCorpPsHeader"  [displayMode]="displayMode" [hidden]="!isAdmin"> 
  <mat-expansion-panel class="mat-elevation-z0" >
    <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
      <mat-panel-title>
        <i class="fa fa-unlock-alt item-icon"></i> Administration
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list dense>
      <a mat-list-item (click)="sidenav.close()"  [routerLink]="['/alldoc']">
        <i class="fa fa-bars item-icon "></i> All RFE Documents by Status
      </a>
    </mat-nav-list>
	<mat-nav-list dense>
      <a mat-list-item (click)="sidenav.close()"  [routerLink]="['/renewal']">
        <i class="fa fa-bars item-icon "></i> Renewals 
      </a> 
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>

  </mat-expansion-panel>
</mat-accordion>
<footer class="page-footer footer-fixed">
    <!--<small>Version: {{version}}</small>-->
</footer>
