<div class="jumbotron">
  <h1 class="display-3">Maintenance</h1>
  <p class="lead">
    <i class="fa fa-cogs fa-2x" aria-hidden="true"></i> &nbsp;
    <i class="fa fa-laptop fa-2x" aria-hidden="true"></i> &nbsp;
    <i class="fa fa-wrench fa-2x" aria-hidden="true"></i> &nbsp;
  </p>
  <hr class="my-4">
  <p>ICS is temporarily down for maintenance. Please wait a few minutes and try your action again.</p>
  <p>If this problem persists, please contact Corporate Occupational Medicine or US-Medical-IT.</p>
  <p class="lead">
    <a class="btn btn-primary" routerLink="/sign-up" role="button">Home</a>
  </p>
</div>
