<div [ngBusy]="busyLoading"></div>
<div mat-dialog-title>
    <div class="d-flex justify-content-between">
        <div class="p-2">Select Appointment Date & Time</div>
        <i class="fa fa-close p-2" (click)="this.dialogRef.close(null)" id="closeDialog"></i>
    </div>
</div>
<style type="text/css">
    body #recurcal .ui-datepicker table td > a, body #recurcal .ui-datepicker table td > span{
    color:white !important;
    background-color: darkgreen !important;
    
}
</style>
<mat-dialog-content style="min-width: 60vw;">
    <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" [id]="alert.id">
        {{ alert?.msg }}
    </alert>
    <div class="row">
        <div class="col">
            <div *ngFor="let programDate of program.programDates; let i = index;">
                <div *ngIf="compareDate(programDate.date) == 1 || compareDate(programDate.date) == 0">
                    <div *ngIf="isRecursive">
                    <div class="card" [hidden]="(isRecursive && i==0)? false:true">
                        <div class="card-header" role="tab" id="heading{{index}}">
                            <div class="d-flex flex-row">
                                <h5 class="mb-0 d-flex">
                                    <a data-toggle="collapse" href="#collapse{{i}}" (click)="getProgramDateTimeSlots(programDate.id, i)">
                                         {{programDate.displayDate | date:'fullDate'}}
                                    </a>
                                </h5>
                            </div>
                        </div>
                        <div id="collapse{{i}}" class="collapse" role="tabpanel">
                            <table class="table table-sm" *ngIf="programDate?.timeSlots?.length > 0">
                                <thead>
                                    <tr>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Available Appointments</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let timeSlot of programDate?.timeSlots; let j = index;">
                                    <tr *ngIf="validateTimeSlot(programDate?.date, timeSlot?.startTime) && timeSlot.availableAppointments > 0">
                                        <td [id]="'program-date-' + i + '-time-slot-' + j + '-start-time'">{{timeSlot.startTimeDisplay}}</td>
                                        <td [id]="'program-date-' + i + '-time-slot-' + j + '-end-time'">{{timeSlot.endTimeDisplay}}</td>
                                        <td [id]="'program-date-' + i + '-time-slot-' + j + '-available'">{{timeSlot.availableAppointments}}</td>
                                        <td>
                                            <button class="btn btn-primary" (click)="selectTimeSlot(i, j)" [id]="'select-program-date-' + i + '-time-slot-' + j" [disabled]="timeSlot.availableAppointments < 1">Select</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                    <div *ngIf="!isRecursive">
                        <div class="card">
                            <div class="card-header" role="tab" id="heading{{index}}">
                                <div class="d-flex flex-row">
                                    <h5 class="mb-0 d-flex">
                                        <a data-toggle="collapse" href="#collapse{{i}}" (click)="getProgramDateTimeSlots(programDate.id, i)">
                                             {{programDate.displayDate | date:'fullDate'}}
                                        </a>
                                    </h5>
                                </div>
                            </div>
                            <div id="collapse{{i}}" class="collapse" role="tabpanel">
                                <table class="table table-sm" *ngIf="programDate?.timeSlots?.length > 0">
                                    <thead>
                                        <tr>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <th>Available Appointments</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let timeSlot of programDate?.timeSlots; let j = index;">
                                        <tr *ngIf="validateTimeSlot(programDate?.date, timeSlot?.startTime) && timeSlot.availableAppointments > 0">
                                            <td [id]="'program-date-' + i + '-time-slot-' + j + '-start-time'">{{timeSlot.startTimeDisplay}}</td>
                                            <td [id]="'program-date-' + i + '-time-slot-' + j + '-end-time'">{{timeSlot.endTimeDisplay}}</td>
                                            <td [id]="'program-date-' + i + '-time-slot-' + j + '-available'">{{timeSlot.availableAppointments}}</td>
                                            <td>
                                                <button class="btn btn-primary" (click)="selectTimeSlot(i, j)" [id]="'select-program-date-' + i + '-time-slot-' + j" [disabled]="timeSlot.availableAppointments < 1">Select</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <div class="col" *ngIf="program.programDates && isloaded && isRecursive" >
            <div class="form-group p-col-12 p-md-4" id="recurcal">
                <label class="col-form-label">Recursive Appointments Dates </label> <br />
                
                <p-calendar inline="true" showOnFocus="false" todayButtonStyleClass="test" [disabledDates]="programDatesArray" [readonlyInput]="true">
               </p-calendar>
            </div>
        </div> -->
        <div class="col" *ngIf="program.programDates && isloaded && isRecursive">
            <label class="col-form-label">Recursive Appointments Dates </label> <br />
            <p-calendar inline="true" [readonlyInput]="true" id="dateFrom"  name="dateFrom">
                <ng-template pTemplate="date" let-date>
                    <div *ngIf="checkDateForHoliday(date);then highlightedDate else normalDate"></div>
                    <ng-template #highlightedDate>
                        <span [ngStyle]="{backgroundColor: '#81C784'}" style="padding:10px">{{date.day}}</span>
                    </ng-template>
                    <ng-template #normalDate>
                            <span [ngStyle]="{backgroundColor: 'inherit'}" style="border-radius:75%">{{date.day}}</span>
                    </ng-template>
            
                </ng-template>
            </p-calendar>
            <br/>
            <span style="font-style: italic;">Note:The program appointment dates are highlighted in green.</span>
        </div>
    </div>

    
</mat-dialog-content>