<div [ngBusy]="{busy:busySave, message:'Saving...'}"></div>
<div [ngBusy]="busyLoading"></div>
<form novalidate #programForm="ngForm" (ngSubmit)="save(programForm)">

    <div class="d-flex flex-row">
        <h4><a routerLink="../../../..">Program Owner</a> / <a routerLink="../..">{{locationName}}</a> / Program</h4>

        <div class="dropdown d-flex ml-auto">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="actionsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-cogs fa-fw"></i>
        Actions
      </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" type="button" [disabled]="program?.programDates.length < 1" (click)="createBulkTimeSlots('All Dates')">
          <i class="fa fa-files-o fa-fw"></i>
          Bulk Create Time Slots <br/>
          <small *ngIf="program?.programDates.length < 1">Add one or more program dates.</small>
        </button>
                <button class="dropdown-item" type="button" [disabled]="!program.id" (click)="configureEmailTemplates()">
          <i class="fa fa-envelope fa-fw"></i>
          Configure Email Templates <br/>
          <small *ngIf="!program.id">Save the program to configure templates.</small>
        </button>
                <button class="dropdown-item" type="button" [disabled]="!program.id" (click)="configureBccEmails()">
          <i class="fa fa-at fa-fw"></i>
          Configure BCC Emails <br/>
          <small *ngIf="!program.id">Save the program to configure BCC emails.</small>
        </button>
                <button class="dropdown-item" routerLink="./appointments" [disabled]="!program.id">
          <i class="fa fa-calendar-check-o fa-fw"></i>
          View Program Appointments <br/>
          <small *ngIf="!program.id">Save the program to view appointments.</small>
        </button>
                <button class="dropdown-item" type="button" [disabled]="!program.id" (click)="managePendingAppointments()">
          <i class="fa fa-eraser fa-fw"></i>
          Manage Pending Appointments <br/>
          <small *ngIf="!program.id">Save the program to manage pending appointments.</small>
        </button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" type="button" routerLink="../0">
          <i class="fa fa-plus-square fa-fw"></i>
          Create New Program
        </button>
                <button class="dropdown-item" type="button" routerLink="../..">
          <i class="fa fa-arrow-circle-left fa-fw"></i>
          Back
        </button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary d-flex">
      <i class="fa fa-save fa-fw"></i>
      Save
    </button>
    </div>
    <hr/>
    <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" id="pageAlert" dismissible="true">
        {{ alert?.msg }}
    </alert>
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <label class="col-form-label">Name</label><label class="requiredSymbol">*</label>
                <input class="form-control" id="name" name="name" [(ngModel)]="program.name" #name="ngModel" required>
                <alert type='danger' *ngIf="name.errors?.required && saveIndicator" id="nameRequiredError">
                    Name is required
                </alert>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="venue" class="col-form-label">Venue</label><label class="requiredSymbol">*</label>
                <input class="form-control" id="venue" name="venue" [(ngModel)]="program.venue" #venue="ngModel" required>
                <alert type='danger' *ngIf="venue.errors?.required && saveIndicator" id="venueRequiredError">
                    Venue is required
                </alert>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label for="active" class="col-form-label">Active</label> <br/>
                <label id="activeSwitch" class="switch slider-checkbox">
          <input type="checkbox" id="active" name="active" [(ngModel)]="program.active">
          <span class="slider round"></span>
        </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="active" class="col-form-label">Email Required</label> <br/>
                <label id="emailRequiredSwitch" class="switch slider-checkbox">
          <input type="checkbox" id="emailRequired" name="emailRequired" [(ngModel)]="program.emailRequired" [checked]="true">
          <span class="slider round"></span>
        </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-lg-5">
            <div class="row">
                <div class="col">

                    <div class="form-group">
                        <label class="col-form-label">Program Date Selection</label> <br/>
                        <p-calendar inline="true" (onSelect)="addProgramDate($event)" [minDate]="minCalendarDate"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    Total booked appointment slots
                                </td>
                                <th scope="row" class="text-right">
                                    {{totalBookedAppointmentSlots | number:0}}
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Total available appointment slots
                                </td>
                                <th scope="row" class="text-right">
                                    {{totalAvailableAppointmentSlots | number:0}}
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Total program appointment slots
                                </td>
                                <th scope="row" class="text-right">
                                    {{totalAppointmentSlots | number:0}}
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Program capacity %
                                </td>
                                <th scope="row" class="text-right">
                                    {{totalBookedAppointmentSlots / totalAppointmentSlots | percent}}
                                </th>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-7 programDatesAndTimeSlots">
            <div class="form-group">
                <label for="active" class="col-form-label">
          Program Dates & Time Slots
        </label>
                <div class="btn-group pull-right" role="group">
                    <button class="btn btn-sm btn-secondary" type="button" (click)="expandAll()" tooltip="Expand all" placement="left" container="body"><i class="fa fa-fw fa-plus" aria-hidden="true"></i></button>
                    <button class="btn btn-sm btn-secondary" type="button" (click)="collapseAll()" tooltip="Collapse all" placement="left" container="body"><i class="fa fa-fw fa-minus" aria-hidden="true"></i></button>
                </div>
                <div class="card" *ngFor="let programDate of program.programDates; let i = index;" id="accordion">
                    <div class="card-header" role="tab" id="{{programDate.displayDate}}_header">
                        <div class="d-flex flex-row">
                            <h5 class="mb-0 d-flex">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}">
                  {{programDate.displayDate | date:'fullDate'}}
                </a>
                            </h5>
                            <div class="ml-auto">
                                <div class="btn-group" role="group" *ngIf="isProgramDateEditable(programDate)">
                                    <button class="btn btn-secondary" type="button" (click)="createSingleTimeSlot(programDate.date, i)" tooltip="Create single time slot." placement="left" container="body" id="{{programDate.displayDate}}_single">
                    <i class="fa fa-file-o" aria-hidden="true"></i>
                  </button>
                                    <button class="btn btn-secondary" type="button" (click)="createMultipleTimeSlots(programDate.date, i)" tooltip="Create multiple time slots." placement="left" container="body" id="{{programDate.displayDate}}_multiple">
                    <i class="fa fa-files-o" aria-hidden="true"></i>
                  </button>
                                    <button class="btn btn-secondary" type="button" (click)="changeProgramDateMaxAppointments(programDate.id, i)" tooltip="Change max appointments." placement="left" container="body" id="{{programDate.displayDate}}_change-max">
                    <i class="fa fa-fw fa-gear" aria-hidden="true"></i>
                  </button>
                                    <button class="btn btn-danger" type="button" (click)="cancelProgramDate(programDate.id, i)" *ngIf="!!programDate.id" tooltip="Cancel program date." placement="left" container="body" id="{{programDate.displayDate}}_cancel">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                                    <button class="btn btn-danger" type="button" (click)="cancelProgramDate(programDate.id, i)" *ngIf="!programDate.id" tooltip="Remove program date. This program date has not yet been saved." placement="left" container="body">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collapse{{i}}" class="collapse" role="tabpanel">
                        <table class="table table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Max Appointments</th>
                                    <th>Min Appointments/User</th>
                                    <th>Max Appointments/User</th>
                                    <th>Available Appointments</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let timeSlot of programDate.timeSlots; let j = index;">
                                    <td id="{{programDate.displayDate}}_start-time-{{j}}">{{timeSlot.startTimeDisplay}}</td>
                                    <td id="{{programDate.displayDate}}_end-time-{{j}}">{{timeSlot.endTimeDisplay}}</td>
                                    <td id="{{programDate.displayDate}}_max-appointments-{{j}}">{{timeSlot.maxAppointments}}</td>
                                    <td id="{{programDate.displayDate}}_min-appointments-per-user-{{j}}">{{timeSlot.minAppointmentsPerUser}}</td>
                                    <td id="{{programDate.displayDate}}_max-appointments-per-user-{{j}}">{{timeSlot.maxAppointmentsPerUser}}</td>
                                    <td id="{{programDate.displayDate}}_available-appointments-{{j}}">{{timeSlot.availableAppointments}}</td>
                                    <td align="right" style="padding-right: 20px;">
                                        <div class="btn-group" role="group" *ngIf="isTimeSlotEditable(programDate, timeSlot)">
                                            <button class="btn btn-sm btn-secondary" type="button" (click)="changeTimeSlotMaxAppointments(timeSlot.id, timeSlot.maxAppointments, i, j)" tooltip="Change time slot max appointments." placement="left" container="body"><i
                      class="fa fa-fw fa-gear" aria-hidden="true"></i></button>
                                            <button class="btn btn-sm btn-danger" type="button" (click)="cancelTimeSlot(timeSlot.id, i, j)" tooltip="Cancel time slot." placement="left" container="body"><i class="fa fa-fw fa-trash"
                                                                                             aria-hidden="true"></i>
                    </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>