<div [ngBusy]="busyLoading"></div>
<div [ngBusy]="busySave"></div>
<div mat-dialog-title>
  <div class="d-flex justify-content-between">
    <div class="p-2" id="dialogTitle">Contact Us - {{locationName}}</div>
    <i class="fa fa-close p-2" (click)="this.dialogRef.close()" id="closeDialog"></i>
  </div>
</div>

<form novalidate #contactUsForm="ngForm" (ngSubmit)="saveContactUs(contactUsForm)">
  <mat-dialog-content style="min-width: 60vw">
    <div class="row">
      <div class="col">
        <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type" [id]="alert.id">
          {{ alert?.msg }}
        </alert>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="col-form-label">Message</label>
          <textarea class="form-control" id="message" name="message" [(ngModel)]="contactUs.message" rows="6"></textarea>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" type="submit" [disabled]="contactUsForm.invalid">
          <i class="fa fa-save fa-fw"></i>
          Save
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</form>

