<div class="row d-flex justify-content-center">
    <div [ngBusy]="[busyLoading]"></div>
    <div class="col-md-11" style="margin-top: 30px; margin-top: 30px;">
        <p-card class="ui-card" [style]="{'border':'2px solid #3366ff'}">
            <p-header>
                <div style="background-color:white;background-image:url(../../../assets/img/Mesh_Header_Blue-LightBlue.png);background-size:
                                    contain; font-weight: bold; line-height: 65px;">
                    <div class="ui-g">
                        <div class="ui-g-9 headerlabel">Job Trigger</div>
                    </div>
                </div>
            </p-header>
            <div class="ui-g justify-content-center">
                <h3>{{errorMsg}}</h3>
            </div>
            <div class="ui-g justify-content-center">
                <div class="ui-lg-6 ui-md-6 ui-sm-12 ui-xm-12 d-flex justify-content-end">
                    <div class="card">
                        <!-- <div style="background-image: linear-gradient(rgb(114, 222, 241), rgb(236, 168, 78));height: 100px;"></div> -->
                        <div class="card-body">
                            <h4 class="card-title text-center">AMAPS Load Job</h4>
                            <hr>
                            <p class="card-text">AMAPS load job loads Approved documents into AMAPS. It has been scheduled to run every one hour daily.</p>
                            <div class="ui-g justify-content-center mt-5">
                                <h6>
                                    Next Scheduled Job Trigger:&#160;{{ amapsLoadUpcomingRunDate }}
                                </h6>
                                <h5>
                                    Countdown:&#160;
                                    <countdown #cd1 [config]="amapsLoadCountDownConfig" (event)="amapsLoadCountDownEvent($event)"></countdown>
                                </h5>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" [disabled]="amapsLoadButtonDisable" class="btn btn-outline-primary m-2" (click)="amapsLoadClicked()"><i class="fa fa-clock-o" aria-hidden="true"></i>&#160;Trigger</button>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>

                <p-dialog header="Confirm AMAPS_LOAD" appendTo="body" [modal]="true" [(visible)]="confirmAmapsLoadDialog" [positionTop]='200' [responsive]='true' [style]="{width: '50%', height: 'auto','position':'absolute'}" (onHide)="amapsLoadPopUpHide()">
                    <div class="ui-g m-3">
                        <div class="ui-lg-5 ui-md-8 ui-sm-12 ui-xm-12">
                            <h5 class="mt-2 mb-2">Next Scheduled Job Trigger at:&#160;</h5>
                        </div>
                        <div class="ui-lg-4 ui-md-4 ui-sm-12 ui-xm-12">
                            <div class="form-control text-center">{{ amapsLoadUpcomingRunDate | slice:12 }}</div>
                        </div>
                        <div class="ui-lg-3"></div>
                    </div>
                    <p-footer>
                        <button type="button" [disabled]="amapsLoadButtonDisable" class="btn btn-outline-primary m-2" (click)="amapsLoadPopUpClicked()"><i class="fa fa-clock-o" aria-hidden="true"></i>&#160;Trigger</button>
                        <button type="button" class="btn btn-danger m-2" (click)="amapsLoadPopUpHide()"><i class="fa fa-times" aria-hidden="true"></i>&#160;Cancel</button>
                    </p-footer>
                </p-dialog>

                <div class="ui-g-6 ui-md-6 ui-sm-12 ui-xm-12 d-flex justify-content-start">
                    <div class="card">
                        <!-- <div style="background-image: linear-gradient(to left,rgb(111, 219, 120), rgb(69, 80, 238));height: 100px;"></div> -->
                        <div class="card-body">
                            <h4 class="card-title text-center">RFA Update Job</h4>
                            <hr>
                            <p class="card-text">RFA Update job updates the RFA Number generated in AMAPS into eRFE system. It has been scheduled to run every one and half an hour daily.</p>
                            <div class="ui-g justify-content-center mt-4">
                                <h6>
                                    Next Scheduled Job Trigger:&#160;{{ rfaUpdateUpcomingRunDate }}
                                </h6>
                                <h5>
                                    Countdown:&#160;
                                    <countdown #cd1 [config]="rfaUpdateCountDownConfig" (event)="rfaUpdateCountDownEvent($event)"></countdown>
                                </h5>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" [disabled]="rfaUpdateButtonDisable" class="btn btn-outline-primary m-2" (click)="rfaUpdateJobClicked()"><i class="fa fa-clock-o" aria-hidden="true"></i>&#160;Trigger</button>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>

                <p-dialog header="Confirm RFA_Update Job" appendTo="body" [modal]="true" [(visible)]="confirmRfaUpdateDialog" [positionTop]='200' [responsive]='true' [style]="{width: '50%', height: 'auto','position':'absolute'}" (onHide)="rfaUpdateJobPopUpHide()">
                    <div class="ui-g m-3">
                        <div class="ui-lg-5 ui-md-8 ui-sm-12 ui-xm-12">
                            <h5 class="mt-2 mb-2">Next Scheduled Job Trigger at:&#160;</h5>
                        </div>
                        <div class="ui-lg-4 ui-md-4 ui-sm-12 ui-xm-12">
                            <div class="form-control text-center">{{ rfaUpdateUpcomingRunDate | slice:12 }}</div>
                        </div>
                        <div class="ui-lg-3"></div>
                    </div>
                    <p-footer>
                        <button type="button" [disabled]="rfaUpdateButtonDisable" class="btn btn-outline-primary m-2" (click)="rfaUpdateJobPopUpClicked()"><i class="fa fa-clock-o" aria-hidden="true"></i>&#160;Trigger</button>
                        <button type="button" class="btn btn-danger m-2" (click)="rfaUpdateJobPopUpHide()"><i class="fa fa-times" aria-hidden="true"></i>&#160;Cancel</button>
                    </p-footer>
                </p-dialog>

                <div class="ui-g-12 text-center">
                    <h5>{{amapsLoadCountDownMsg}}</h5>
                </div>
                <div class="ui-g-12 text-center">
                    <h5>{{rfaUpdateCountDownMsg}}</h5>
                </div>

                <p-footer>
                    <button type="button" class="btn btn-link btn-lg ui-sm-12 ui-xs-12 mt-2" (click)="goBack()"><i class="fa fa-hand-o-left" id="goBackButton"></i>&#160;Go Back</button>
                </p-footer>
            </div>
        </p-card>
    </div>
</div>