<div class="jumbotron">
  <h1 class="display-3">*ERROR*</h1>
  <p class="lead">YOUR REQUEST COULD NOT BE COMPLETED</p>
  <hr class="my-4">
  <p>If you are a <strong>new employee</strong>, it may take a few days after onboarding for this application to be available to you.</p>
  <p>If you are an <strong>existing user</strong>, the action that you tried to perform is not allowed.</p>
  <p>If you have questions or Need support, Please contact Clinical Research Co-ordinator, who sent you the study invitation directly</p>
  <p class="lead">
    <a class="btn btn-primary" routerLink="/" role="button">OK</a>
  </p>
</div>
