<div class="ui-g d-flex justify-content-center">
    <div [ngBusy]="[busyLoading]"></div>
    <div class="ui-g-11 mt-3" *ngIf="marqueeInformation">
        <marquee class="text-danger" scrolldelay="100" style="font-weight: bold;">
            Info: Please do not refresh the page incase the form is not Saved As Draft/Submitted, your data might be lost(Files selected for upload will not be retained anyway). Please navigate back to the main form and click Print again if refreshed.
        </marquee>
    </div>
    <div class="ui-g-11 mt-3">
        <div class="card" style="border:2px solid #3366ff">
            <div class="print-hide">
                <div style="background-color:white;background-image:url(../../../assets/img/Mesh_Header_Blue-LightBlue.png);background-size: contain; font-weight: bold; line-height: 65px;">
                    <div class="ui-g p-0">
                        <div class="headerlabel ui-g-12">Print Preview for ERFE&#160;(Request For Expenditure)</div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div id="printArea">
                    <div class="print-show">
                        <div class="ui-g p-0">
                            <div class="headerlabel ui-g-12">ERFE&#160;(Request For Expenditure)</div>
                        </div>
                    </div>
                    <form [formGroup]="rfeForm" class="mb-4" #printrfeForm>

                        <!-- Row: 0 -->
                        <div class="ui-g">
                            <div class="ui-lg-6 ui-md-3 ui-sm-12 ui-xs-12 print-button">
                                <button type="button" class="btn btn-link btn-lg ui-sm-12 ui-xs-12" (click)="goBack()"><i class="fa fa-hand-o-left" id="goBackButtonTopIcon"></i>&#160;Go Back to RFE</button>
                                <button type="button" class="btn btn-link btn-lg ui-sm-12 ui-xs-12" printSectionId="printArea" [useExistingCss]="true" (click)="printrfeForm.click()" printTitle="ERFE © 3M 2019. All Rights Reserved." ngxPrint><i class="fa fa-print"
                                        id="printButtonTopIcon"></i>&#160;Print</button>
                            </div>
                            <div class="ui-lg-2 ui-md-3 ui-sm-12 ui-xs-12 print-input-field">
                                <div class="ui-g-12 ui-label">
                                    Origin Date&#160;:
                                </div>
                                <div class="ui-g-12 form-control form-control-sm">{{originDate}}</div>
                            </div>
                            <div class="ui-lg-2 ui-md-4 ui-sm-12 ui-xs-12 print-input-field">
                                <div class="ui-g-12 ui-label">
                                    PS Request Number&#160;:
                                </div>
                                <div class="ui-g-12 form-control form-control-sm">{{psReqNumber}}</div>
                            </div>
                            <div class="ui-lg-2 ui-md-2 ui-sm-12 ui-xs-12 print-input-field">
                                <div class="ui-g-12 ui-label">
                                    RFE Number&#160;:
                                </div>
                                <div class="ui-g-12 form-control form-control-sm">{{rfeNumber}}</div>
                            </div>
                        </div>
                        <!-- Row: 1 -->
                        <div class="ui-g">
                            <div class="ui-g-12 ui-label pb-0" style="color:royalblue;font-weight: bold;">
                                Contact Information
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-g-nopad print-input-field">
                                <div class="ui-g-12 ui-label">
                                    Site Contact Name<span class="text-danger">*</span>&#160;:
                                </div>
                                <div class="ui-g-12 ">
                                    <div class="form-control form-control-sm">{{siteContactName}}</div>
                                </div>

                            </div>
                            <div class="ui-g-12 ui-md-4 ui-g-nopad print-input-field">
                                <div class="ui-g-12 ui-label">
                                    Phone Number&#160;:
                                </div>
                                <div class="ui-g-12">
                                    <div class="form-control form-control-sm">{{phoneNumber}}</div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-g-nopad print-input-field">
                                <div class="ui-g-12 ui-label">
                                    Person ID&#160;:
                                </div>
                                <div class="ui-g-12">
                                    <div class="form-control form-control-sm">{{personID}}</div>
                                </div>
                            </div>
                        </div>
                        <!-- Row 2  -->
                        <div class="ui-g" *ngIf="isProjectCoordinator">
                            <div class="ui-g-12 ui-md-4 ui-g-nopad print-input-field">
                                <div class="ui-g-12 ui-label">
                                    Project Coordinator&#160;:
                                </div>
                                <div class="ui-g-12">
                                    <div class="form-control form-control-sm">{{projectCoordinator}}</div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-g-nopad print-input-field">
                                <div class="ui-g-12 ui-label">
                                    Phone Number&#160;:
                                </div>
                                <div class="ui-g-12">
                                    <div class="form-control form-control-sm">{{coordinatorPhoneNumber}}</div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-g-nopad print-input-field">
                                <div class="ui-g-12 ui-label">
                                    Person ID&#160;:
                                </div>
                                <div class="ui-g-12">
                                    <div class="form-control form-control-sm">{{coordinatorPersonID}}</div>
                                </div>
                            </div>
                        </div>
                        <!-- Row 3 -->
                        <div class="ui-g">
                            <div class="ui-g-12 ui-label pb-0" style="color:royalblue;font-weight: bold;">
                                Supplier Information
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-g-nopad print-input-field-supplier">
                                <div class="ui-g-12 ui-label">
                                    Order From<span class="text-danger">*</span>&#160;:
                                </div>
                                <div class="ui-g-12">
                                    <div class="form-control form-control-sm orderFromStyle">{{orderFrom}}</div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-4 ui-g-nopad print-input-field-supplier">
                                <div class="ui-g-12 ui-label">
                                    Supplier Base:
                                </div>
                                <div class="ui-g-12">
                                    <div class="form-control form-control-sm">{{supplierBase}}</div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-2 ui-g-nopad print-input-field-supplier">
                                <div class="ui-g-12 ui-label">
                                    Start Date<span class="text-danger">*</span>&#160;:
                                </div>
                                <div class="ui-g-12">
                                    <div class="form-control form-control-sm">{{startDate}}</div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-2 ui-g-nopad print-input-field-supplier">
                                <div class="ui-g-12 ui-label">
                                    Completion Date<span class="text-danger">*</span>&#160;:
                                </div>
                                <div class="ui-g-12">
                                    <div class="form-control form-control-sm">{{completionDate}}</div>
                                </div>
                            </div>
                        </div>
                        <!-- Row: 4 -->
                        <div class="ui-g">
                            <div class="ui-g-12 ui-label print-type-of-bid" style="color:royalblue;font-weight: bold;">
                                Type of Bid?
                            </div>
                            <div class="ui-lg-3 ui-md-3 ui-sm-12 ui-xs-12">
                                <button [ngClass]="(rfeForm.get('bid').value==1)?'btn btn-primary m-2 active':'btn btn-outline-secondary m-2'"><i
                                        *ngIf="rfeForm.get('bid').value==1" class="fa fa-check"
                                        aria-hidden="true"></i>&#160;Hourly</button>
                                <button [ngClass]="(rfeForm.get('bid').value==2)?'btn btn-primary m-2 active':'btn btn-outline-secondary m-2'"><i
                                        *ngIf="rfeForm.get('bid').value==2" class="fa fa-check"
                                        aria-hidden="true"></i>&#160;Fixed</button>
                            </div>
                        </div>
                        <!-- Row: 5  -->
                        <div class="ui-g pageBreakWorker">
                            <div class="ui-g-12 ui-label" style="color:royalblue;font-weight: bold;">
                                Worker Information
                            </div>
                            <div class="ui-g-12 ui-md-12">
                                <p-table [columns]="workerHeader" [value]="worker" [resizableColumns]="true" columnResizeMode="expand">
                                    <ng-template pTemplate="header" let-columns *ngIf="rfeForm.get('bid').value==1">
                                        <tr class="text-center">
                                            <th *ngFor="let col of columns">
                                                {{col.header}}
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns" *ngIf="rfeForm.get('bid').value==1">
                                        <tr class="text-center">
                                            <td *ngFor="let col of columns">
                                                {{rowData[col.field]}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="footer" let-rowData let-columns="columns">
                                        <tr>
                                            <td colspan="3">
                                                <div [ngClass]="(rfeForm.get('bid').value==1)?'custom-left-padding':'custom-right-padding'">
                                                    Additional Expenses&#160;:&#160;
                                                    <div *ngIf="pageReloaded; then additionalThenBlock; else additionalElseBlock"></div>
                                                    <ng-template #additionalThenBlock>
                                                        <strong>{{ additionalExpenses | currency:'USD':'symbol':'1.2-2'}}</strong>
                                                    </ng-template>
                                                    <ng-template #additionalElseBlock>
                                                        <strong>${{ additionalExpensesAsString }}</strong>
                                                    </ng-template>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr *ngIf="rfeForm.get('bid').value==2">
                                            <td colspan="3">
                                                <div [ngClass]="(rfeForm.get('bid').value==1)?'custom-left-padding':'custom-right-padding'">
                                                    Fixed Bid Amount&#160;:&#160;&#160;&#160;&#160;&#160;
                                                    <div *ngIf="pageReloaded; then fixedThenBlock; else fixedElseBlock"></div>
                                                    <ng-template #fixedThenBlock>
                                                        <strong>{{ fixedBidAmount | currency:'USD':'symbol':'1.2-2' }}</strong>
                                                    </ng-template>
                                                    <ng-template #fixedElseBlock>
                                                        <strong>${{ fixedBidAsString }}</strong>
                                                    </ng-template>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div [ngClass]="(rfeForm.get('bid').value==1)?'custom-left-padding':'custom-right-padding'">
                                                    Approval Amount&#160;:&#160;&#160;&#160;&#160;&#160;&#160;
                                                    <strong>{{approvalAmount | currency:'USD':'symbol':'1.2-2'}}</strong>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                        <!-- Row 6 -->
                        <div class="ui-g pageBreakProject">
                            <div class="ui-g-12 ui-label pb-0" style="color:royalblue;font-weight: bold;">
                                Project Information
                            </div>
                            <div class="ui-g-6 ui-md-6 ui-g-nopad">
                                <div class="ui-g-12 ui-label">
                                    Project Title<span class="text-danger">*</span>&#160;:
                                </div>
                                <div class="ui-g-12">
                                    <div class="form-control form-control-sm print-text-area" style="height: auto;">
                                        {{projectTitle}}</div>
                                </div>
                            </div>
                            <div class="ui-g-6 ui-md-6 ui-g-nopad">
                                <div class="ui-g-12 ui-label">
                                    Description of all Services Provided<span class="text-danger">*</span>&#160;:
                                </div>
                                <div class="ui-g-12">
                                    <div class="form-control form-control-sm print-text-area" style="height: auto;">
                                        {{serviceDescription}}</div>
                                </div>
                            </div>
                        </div>
                        <!-- Row 7 -->
                        <div class="ui-g mb-2 pageBreakAccount">
                            <div class="ui-g-12 ui-label" style="color:royalblue;font-weight: bold;">
                                Accounting Information - Cost Distribution of Total Committed Dollars
                            </div>
                            <div class="ui-g-12 ui-md-12">
                                <p-table [columns]="accountHeader" [value]="account" [resizableColumns]="true" columnResizeMode="expand">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr class="text-center">
                                            <th *ngFor="let col of columns" class="bg-primary">
                                                {{col.header}}
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr class="text-center">
                                            <td *ngFor="let col of columns">
                                                {{rowData[col.field]}}
                                            </td>
                                        </tr>
                                    </ng-template>

                                </p-table>
                            </div>
                        </div>
                        <!-- Row 8 -->
                        <div class="ui-g pageBreakApproval">
                            <div class="ui-g-12 ui-label" style="color:royalblue;font-weight: bold;">
                                Approval Name<span class="text-danger">*</span>
                            </div>
                            <div class="ui-g-12 ui-md-12">
                                <p-table [columns]="approvalHeader" [value]="approval" [resizableColumns]="true" columnResizeMode="expand">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr class="text-center">
                                            <th *ngFor="let col of columns" class="bg-primary">
                                                {{col.header}}
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr class="text-center">
                                            <td *ngFor="let col of columns">
                                                {{rowData[col.field]}}
                                            </td>
                                        </tr>
                                    </ng-template>

                                </p-table>
                            </div>
                        </div>
                        <!-- Row 9 -->
                        <div class="ui-g pageBreakInformational" *ngIf="isInformationalCopy">
                            <div class="ui-g-12 ui-label" style="color:royalblue;font-weight: bold;">
                                Informational Copy
                            </div>
                            <div class="ui-g-12 ui-md-12">
                                <p-table [columns]="informationHeader" [value]="information" [resizableColumns]="true" columnResizeMode="expand">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr class="text-center">
                                            <th *ngFor="let col of columns" class="bg-primary">
                                                {{col.header}}
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr class="text-center">
                                            <td *ngFor="let col of columns">
                                                {{rowData[col.field]}}
                                            </td>
                                        </tr>
                                    </ng-template>

                                </p-table>
                            </div>
                        </div>
                        <!-- Row: 10 -->
                        <div class="ui-g" *ngIf="isComments">
                            <div class="ui-g-12 ui-label" style="color:royalblue;font-weight: bold;">
                                Comments
                            </div>
                            <div class="ui-g-12">
                                <div class="form-control form-control-sm print-text-area-comments" style="height: auto;">{{comments}}</div>
                            </div>
                        </div>
                        <!-- Row: 11 -->
                        <div class="ui-g mb-2 pageBreakAttachments" *ngIf="isAttatchments">
                            <div class="ui-g-12 ui-label" style="color:royalblue;font-weight: bold;">
                                Attachments
                            </div>
                            <div class="ui-g-6">
                                <p-table [columns]="attatchmentHeader" [value]="attatchments" [responsive]="true">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr class="text-center">
                                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                                {{col.header}}
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr [pSelectableRow]="rowData" class="text-center">
                                            <td *ngFor="let col of columns">
                                                {{rowData[col.field]}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                            <div class="ui-g-6"></div>
                        </div>
                        <!-- Row: 12 -->
                        <div class="ui-g mb-2 pageBreakLogs">
                            <div class="ui-g-12 ui-label" style="color:royalblue;font-weight: bold;">
                                Activity Logs
                            </div>
                            <div class="ui-g-12">
                                <p-table [columns]="logsHeader" [value]="logs" [responsive]="true">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr class="text-center">
                                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                                {{col.header}}
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr [pSelectableRow]="rowData" class="text-center">
                                            <td *ngFor="let col of columns">
                                                {{rowData[col.field]}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </form>
                    <!-- <button type="button" (click)="print()">Check print</button> -->
                    <div class="ui-g print-button">
                        <div class="ui-lg-3 ui-md-4">
                            <button type="button" class="btn btn-link btn-lg ui-sm-12 ui-xs-12" (click)="goBack()"><i class="fa fa-hand-o-left" id="goBackButtonBottomIcon"></i>&#160;Go Back to RFE</button>
                        </div>
                        <div class="ui-lg-6 ui-md-4 ui-sm-12 ui-xs-12 d-flex justify-content-center">
                            <button id="printButtonBotton" type="button" class="btn btn-primary btn-lg ui-sm-12 ui-xs-12" printSectionId="printArea" [useExistingCss]="true" (click)="printrfeForm.click()" printTitle="ERFE © 3M {{currentYear}}. All Rights Reserved." ngxPrint #printButtonInBottom><i class="fa fa-print"
                                    id="printButtonBottonIcon"></i>&#160;Print</button>
                        </div>
                        <div class="ui-lg-3 ui-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>