.print-AFD {
  overflow-x: hidden !important;
  overflow: hidden;
}

@page {
  size: 8.5in 11in;
  margin-bottom: 2cm;
  margin-top: 2cm;
}


.pageBreak {
  display:block;
  page-break-after: always;
}
section {
  page-break-before: always;
}
